setion.footer 
    .width 
        .footer__list 
            .footer__item 
                a(href="#!").footer__logo 
                    img(src="./assets/img/Logo.svg", alt="")
            .footer__item 
                h3.footer__heading Company
                ul.list__item 
                    li 
                        a.footer__link(href="#!") Abouts 
                    li 
                        a.footer__link(href="#!") Careers
                    li 
                        a.footer__link(href="#!") Press
            .footer__item 
                h3.footer__heading Comunity
                ul.list__item 
                    li 
                        a.footer__link(href="#!") Temr Plan
                    li 
                        a.footer__link(href="#!") Blogs
                    li 
                        a.footer__link(href="#!") Student
                    li 
                        a.footer__link(href="#!") SchoolarShip
            .footer__item 
                h3.footer__heading Teaching
                ul.list__item 
                    li 
                        a.footer__link(href="#!") Become a teacher 
                    li 
                        a.footer__link(href="#!") Teaching academy
            .footer__social 
                h3.footer__heading Be Social 
                ul.list__item 
                    li 
                        a.footer__link(href="#!") Facebook 
                    li 
                        a.footer__link(href="#!") Twiter
                    li 
                        a.footer__link(href="#!") Youtube
                    li 
                        a.footer__link(href="#!") Instagram
        p.footer__copyright © Copyright 2020 by Mayad Ahmed. All right reserved.
            
