section.introduce 
    .width 
        .intro-top
            h3.intro-sub FEARTURES 
            h1.intro-title We are providing suitable features for students.
            p.intro-desc Read our awesome feature that is absolutely suit for you. Explore the feature and know the best.
        .intro-bottom 
            +introItem("Live Chat", "We are providing live classes with the best teacher for you")