section.popular
    .width 
        .popular-top 
            p.popular-top-sub COURSES 
            h2.popular-top-title Popular Courses 
            p.popular-top-desc Check out our most poular courses that suit for you. Here you can find your favourite one.
        .popular-bottom 
            +popularItem("Web Design","./assets/img/courses1.jpg", "Free $200" )
            +popularItem("Web Development","./assets/img/courses2.jpg", "Free $250" )
            +popularItem("UI/UX Designer","./assets/img/courses3.jpg", "Free $300" )