section.quanlity
    .width 
        .quanlity-list 
            +quanlityItem("100+", "Popular Courses") 
            +quanlityItem("500+", "Skilled Trainer") 
            +quanlityItem("1M+", "Student Learning") 
