section.reviews 
    .width 
        .reviews-list 
            .reviews-item 
                img.reviews-qoute(src="./assets/img/quote.svg", alt="")
                p.reviews-desc “They are the best people. And this is the suitable platform to learn from distance.” Ben Foakes, student.
                p.reviews-author 
                    strong Ben Foakes
                    span , student.
                .reviews-icon 
                    button.btn-icon 
                        img(src="./assets/img/left.svg", alt="")
                    button.btn-icon 
                        img(src="./assets/img/right.svg", alt="")
            .reviews-item 
                img.reviews-avatar(src="./assets/img/rev1.webp", alt="avatar-reviews")
                img.reviews-avatar(src="./assets/img/rev2.jpeg", alt="avatar-reviews")
                img.reviews-avatar(src="./assets/img/rev3.webp", alt="avatar-reviews")
                img.reviews-avatar(src="./assets/img/rev4.webp", alt="avatar-reviews")
                img.reviews-avatar(src="./assets/img/rev5.webp", alt="avatar-reviews")
                img.reviews-avatar(src="./assets/img/rev2.jpeg", alt="avatar-reviews")

