section.suprise 
    .width 
         .suprise__item 
            .suprise__content 
                h1.content__title Ready to Get Admit
                p.content__desc Create your account and Boost your Career.
            .suprise__cta 
                a.hero-btn(href="#!") Get Started
    