$primary: #0d1111;
$second: #9da6a5;
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 1.6rem;
}
a {
  display: inline-block;
  color: $primary;
  text-decoration: none;
}
.width {
  max-width: calc(100% - 48px);
  width: 1170px;
  margin: 0 auto;
}

.btn {
  min-width: 108px;
  padding: 12px 24px;
}

// home
.home {
  height: 100vh;
}
.home .home-navbar {
  padding: 38px 0;
}
.home .home-navbar,
.home .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .nav-list li a {
  padding: 12px 20px;
}
.home .nav-list .active {
  font-weight: 600;
}

.btn-cta .btn-sign:not(:first-child) {
  color: #1ebfc1;
  font-weight: 600;
  border: 1px solid #1ebfc1;
  border-radius: 5px;
}

.btn-cta .btn-sign {
  margin: 0 12px;
}

.hero__content {
  padding: 12px 0 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 0 71px;
}

.hero__content-sub {
  font-size: 1.4rem;
  line-height: 21px;
  color: #767e7e;
  margin-bottom: 18px;
}

.hero__content .hero__content-heading {
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.2;
  color: $primary;
  margin-bottom: 46px;
}
.hero__content .hero-content-desc {
  font-size: 1.8;
  line-height: 1.7;
  color: $second;
  margin-bottom: 52px;
  width: 374px;
}
.hero-cta {
  display: flex;
  gap: 0 50px;
}
.hero-cta .hero-btn {
  min-width: 186px;
  padding: 20px 41px;
  border-radius: 14px;
  background-color: $second;
  font-weight: 600;
  font-size: 1.8rem;
  color: white;
}

.hero-cta button.hero-video {
  border: none;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero__content {
  &-right {
    position: relative;
    width: 54%;
    margin-left: auto;
    .image img {
      width: 560px;
      height: 600px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .reviews {
    position: absolute;
    width: 207px;
    padding: 17px 35px;
    border-radius: 12px;
    background-color: #fff;
    bottom: 41px;
    right: 45px;
  }
  .reviews img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -8px;
  }
  .reviews__title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    color: $primary;
    margin-bottom: 8px;
  }
  .courses {
    position: absolute;
    top: 149px;
    transform: translateX(-40px);
    display: flex;
    align-items: center;
    gap: 12px;
    width: 157px;
    padding: 17px 25px;
    border-radius: 12px;
    background-color: #fff;
  }
}

// introduce
.introduce {
  margin: 130px 0 0 0;
  .intro {
    &-top {
      margin-bottom: 80px;
    }
    &-sub {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 18px;
      color: #767e7e;
      margin-bottom: 18px;
      letter-spacing: 3px;
    }
    &-title {
      width: 577px;
      font-weight: 700;
      font-size: 4.2rem;
      line-height: 1.3;
      color: $primary;
      margin-bottom: 18px;
    }
    &-desc {
      width: 590px;
      font-size: 1.8rem;
      line-height: 1.5;
      color: #767e7e;
    }
    &-bottom {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 0 200px;
    }
    &-wrap {
      display: flex;
      width: 102px;
      height: 106px;
      background: #ffc147;
      border-radius: 12px;
      margin-bottom: 20px;
    }
    &-img {
      margin: auto;
    }
    &-item-title {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    &-item-desc {
      font-size: 1.6rem;
      line-height: 1.7;
      color: $second;
      width: 223px;
    }
  }
}

.popular {
  margin: 130px 0;
  &-top {
    margin-bottom: 79px;
  }
  &-item {
    position: relative;
  }
  &-top-sub {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 18px;
    color: $second;
    letter-spacing: 3px;
    margin-bottom: 18px;
  }
  &-top-title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5;
    color: $primary;
    margin-bottom: 19px;
  }
  &-top-desc {
    width: 525px;
    font-size: 1.8rem;
    line-height: 1.8;
    color: $second;
  }
  &-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 47px;
  }
  &-img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.5;
  }
  &-content {
    position: absolute;
    width: 325px;
    padding: 18px 25px 29px;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    bottom: -100px;
    right: 17px;
    background-color: #fff;
  }
  &-title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.1;
    color: $primary;
    margin-bottom: 16px;
  }
  &-price {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.1;
    margin-bottom: 10px;
  }
  &-desc {
    font-size: 1.4rem;
    line-height: 1.7;
    color: $second;
    margin-bottom: 20px;
  }
  .time {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
    position: relative;
    margin-right: 12px;
  }
  .time::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $second;
    margin-right: 5px;
  }
}
// quanlity
.quanlity {
  padding: 130px 0;
  &-list {
    max-width: 100%;
    width: 862px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-number {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 93px;
    color: $primary;
    margin-bottom: 11px;
    text-align: center;
  }
  &-desc {
    font-size: 1.8rem;
    line-height: 1.5;
    color: $second;
  }
}

// reviews
.reviews {
  margin: 130px 0;
  &-list {
    display: flex;
    gap: 72px;
  }
  &-item:first-child {
    width: 35%;
  }
  &-item:last-child {
    width: 58%;
    display: flex;
    position: relative;
  }
  &-avatar {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
  }
  &-avatar:first-child,
  &-avatar:nth-child(2) {
    width: 92px;
    height: 92px;
  }

  &-avatar:first-child {
    top: 0;
    left: 144px;
  }
  &-avatar:nth-child(2) {
    top: 20px;
    right: 0;
  }

  &-avatar:nth-child(4) {
    left: 0;
    bottom: 145px;
  }

  &-avatar:nth-child(5) {
    left: 212px;
    bottom: 0;
  }

  &-avatar:nth-child(6) {
    right: 32px;
    bottom: 32px;
  }

  &-avatar:nth-child(3) {
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
  }
  &-avatar:nth-child(4),
  &-avatar:nth-child(5),
  &-avatar:last-child {
    width: 78px;
    height: 78px;
  }

  &-qoute {
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 3.2rem;
    line-height: 1.5;
    color: $second;
    margin-bottom: 33px;
  }
  &-author {
    margin-bottom: 52px;
  }
  &-author strong {
    font-weight: 500;
    line-height: 1.5;
    color: $primary;
  }
  &-author span {
    color: $second;
  }
  &-icon {
    .btn-icon {
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-align: center;
      background-color: $second;
      outline: none;
      margin: 0 15px;
      cursor: pointer;
    }
  }
}
